body,html{
	width: 100%;
	height: 100%;
	font-family: 'Montserrat',sans-serif;
	background: url(header.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}
h1{
	text-transform: uppercase;
	color: #E0E0E0;
	font-size: 3rem;
}
hr{
	border-color:#FF5722 ;
	border-width:4px;
	width:65px; 
	margin-left:48% !important;
	 margin-right:50% !important;
}
.buffer{
	height: 12rem;
}
.btn-xl{
	padding: 1rem 2rem;
}
.btn{
	font-weight: 700;
	border-radius: 300px;

}
.btn-danger{
	background-color: #f05f44;
	border-color:#f05f44 ;
	transition: all 0.3s ;
}
.btn-danger:hover{
	background-color: #f05f44;
	border-color:#f05f44 ;
	color: black;
}

	
